body {
  background-color: #141414;
  color: #fff;
}

.image-container {
  position:relative;
  transition: transform 0.2s;
  background-color:#ccc;
  border:1px solid #aaa;
}

.image-container:hover {
  cursor:pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity:1;
}

.heading {
  position:absolute;
  background: rgba(0,0,0, 0.8);
  color:#fff;
  width:100%;
  top: 0;
  padding:0px;
  text-align:center;
}

.overlay {
  position:absolute;
  background: rgba(0,0,0, 0.8);
  color:#fff;
  width:100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  padding:20px;
  font-size: 1.2em;
  text-align:center;
}